$background-accent: #3498db;
$background-accent-light: #a7dcff;
$background-light: #d5eeff;
$background-primary: #F5F5F5;
$text-primary: #333333;
$text-secondary: #FFECB3;
$text-success: #4CAF50;
$text-emphasis: #FFA500;
$text-visited: rgb(158, 0, 0);