/*
  This CSS Reset uses Josh's as a base.
  https://www.joshwcomeau.com/css/custom-css-reset/
  I am using Sass variables for ease of use.
*/

@import './colors.scss';

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  color: $text-primary;
}
a {
  color: $text-emphasis;
  transition: color 0.2s;
  &:visited{
    color: $text-visited;
  }
  &:hover{
    color: $text-emphasis;
  }
}

body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 80px);
  overflow: auto;
  background-color: $background-primary;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

main{
  height: 100%;
  display: flex;
}