@import './colors.scss';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 3vw;
  height: 90px;
  background-color: $background-accent;
  box-sizing: border-box;
}

#us{
  color: white;
  vertical-align: top;
  line-height: 1em;
  a{
      color: orange;
      text-decoration: none;
      &:hover{
          text-decoration: underline;
      }
  }
  font-size: 12px;
  padding-bottom: 1px;
}


#logo{
  object-fit: contain;
  object-position: left bottom;
  // border: 1px solid red;
  box-sizing: border-box;
  height: 75px;
}


#hamburger-container{
  width: 32px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

#hamburger{
  position: absolute;
  top: 12px;
  width: 30px;
  border: 1px solid whitesmoke;
  &::after{
    content: '';
    width: 30px;
    position: absolute;
    left: -1px;
    top: 7px;
    border: inherit;
  }
  &::before{
    content: '';
    width: 30px;
    position: absolute;
    left: -1px;
    bottom: 6px;
    border: inherit;
  }
}
