@import '/src/styles/colors.scss';

.video-grid{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 1.5vw;
}
.video-grid-item{
    cursor: pointer;
    position: relative;
    top: -100px;
    opacity: 0;
    list-style: none;
    padding: 20px;
    background-color: $background-light;
    border-radius: 10px;
    transition: border-radius 0.2s, background-color 0.2s;
    &:hover{
        background-color: $background-accent-light;
        border-radius: 2px;
    }
}

a:has(.video-grid-item){
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}