#home{
    display: flex;
    justify-content: space-around;
}

#home-left{
    // display: none;
    // width: 25%;
    padding: 0px 0px;
}
#home-right{
    width: 100%;
    overflow-y: auto;
    margin-right: 15px;
}
